@{
    Layout = null;
}


<div class="row">
    <div>
        <br />
        <p>This is a small demo app demonstrating the following technolgies all working together</p>
        <br />
        <img src="~/Images/banners.png" class="img-responsive" alt="Responsive image">
    </div>
</div>
<br />
<br />

<div class="well">
    <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-8" ng-show="!isLoggedIn">
            <h2>Login</h2>
            <p>Please pick a user to log in as</p>
            <div class="row">
                <p class="col-xs-12 col-sm-8 col-md-8">
                    <select class="form-control" data-ng-options="o.Name for o in usersList" data-ng-model="selectedPerson" ng-disabled="isLoggedIn"></select>
                </p>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <button type="button" id="btnLogin" class="btn btn-primary" data-ng-click="login()" ng-disabled="isLoggedIn">LOG IN</button>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-8 col-md-8" ng-show="isLoggedIn">
            <h2>Logout</h2>
            <p>You are logged in as : <span ng-bind="selectedPerson.Name"></span></p>
            <div class="row">
                <p class="col-xs-12 col-sm-4 col-md-4">
                    <button type="button" id="btnLogout" class="btn btn-primary" data-ng-click="logout()" ng-disabled="!isLoggedIn">LOG OUT</button>
                </p>
            </div>
        </div>
    </div>

</div>