body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.grid-style {
    border: 1px solid rgb(212,212,212);
    min-height: 250px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user-details {
    margin-top: 50px;
}

.gender-text {
    margin: 0 5px;
    vertical-align: sub;
}

.drawingSurface {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: whitesmoke;
    box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
}

.labeller {
    width: 110px;
}


.actionImages {
    float: left;
    margin: 10px;
}


.modal-dialog {
  padding-top: 15%;
}








.tooltip-inner {
    white-space:pre;
    max-width:none;
}


.resultItem  { 
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    border: 1px solid transparent;
}


.resultItem:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    border: 1px solid darkgray;
}


.header {
    color: black;
    height: 22px;
}

.resultHeaderItems {
    float: left;
    margin: 2px;
}

.resultsImage {
    margin: 3px;
}



