@{
    Layout = null;
}

<h2>Create</h2>

<div class="well">
    <div class="row">
        <p class="col-xs-12 col-sm-8 col-md-8">
            <label>Choose what you want to do with sketcher</label>
        </p>
        <br />
        <div class="col-xs-12 col-sm-8 col-md-8">
            <a href="#/create"><img src="~/Images/draw.png" class="img-responsive, actionImages" alt="Responsive image" data-toggle="tooltip" data-placement="bottom" title="Create new sketch"></a>
            <a href="#/subscriptions"><img src="~/Images/subscriptions.png" class="img-responsive, actionImages" alt="Responsive image" data-toggle="tooltip" data-placement="bottom" title="Manage subscriptions"></a>
            <a href="#/viewall"><img src="~/Images/viewAll.png" class="img-responsive, actionImages" alt="Responsive image" data-toggle="tooltip" data-placement="bottom" title="View most recent sketches"></a>
        </div>
    </div>
</div>



