@{
    Layout = null;
}

<br/>
<div class="well">
    <h2>Actions</h2>
    <div class="row">
        <p class="col-xs-12 col-sm-8 col-md-8">Choose what you want to do with sketcher</p>
        <br />
        <div class="col-xs-12 col-sm-8 col-md-8">
            <a href="#/create"><div id="createDiv"  class="img-responsive, actionImages" alt="Responsive image" data-toggle="tooltip" data-placement="bottom" title="Create new sketch"></div></a>
            <a href="#/subscriptions"><div id="subscriptionsDiv" class="img-responsive, actionImages" alt="Responsive image" data-toggle="tooltip" data-placement="bottom" title="Manage subscriptions"></div></a>
            <a href="#/viewall"><div id="viewAllDiv" class="img-responsive, actionImages" alt="Responsive image" data-toggle="tooltip" data-placement="bottom" title="View most recent sketches"></div></a>
        </div>
    </div>
</div>



