@{
    Layout = null;
}

<h2>View All</h2>

<div class="well">
    <div class="row">
        
        
        <div ng-repeat="tableItem in tableItems" class="col-xs-12 col-sm-6 col-md-4">
            <div class="resultItem">
                <div class="header">
                    <span>
                        <img src="~/Images/Info.png" class="img-responsive resultsImage resultHeaderItems" alt="Responsive image" data-toggle="tooltip" data-placement="bottom" title="{{ showBlogTooltip(tableItem.Blob)}}">
                        <span class="badge resultHeaderItems">{{tableItem.Comments.length}}</span>
                    </span>
                </div>
                <p>
                    <img ng-src="{{tableItem.Blob.SavedBlobUrl}}" class="img-responsive" alt="Responsive image" />
                </p>
            </div>
        </div>
        
    </div>
</div>



